




#login {
    display: grid; 
    grid-template-rows: 3em auto;
    font-family: Poppins;
    width: fit-content;
    margin: 7em auto;
    row-gap: 2em;
    margin-bottom: 14em;
}

#login h1 {
    font-weight: 600;
    font-size: 2em;
    margin: auto;
}

#register {
    display: grid; 
    grid-template-rows: 3em auto;
    font-family: Poppins;
    width: fit-content;
    margin: 7em auto;
    row-gap: 2em;
    margin-bottom: 14em;
}
#register h1 {
    font-weight: 600;
    margin: auto;
}
form {
    display: block;
    background-color: white;
    padding: 2em;
    width: 18em;
}
label {
    width: 100%;
    font-family: Poppins;
}
input {
    width: 100%;
    border: none;
    border-bottom: solid black 1px;
    margin-bottom: 2em;
    outline: none;
}

button{
    width: auto;
    padding: 1em;
    font-family: Poppins;
    font-size: 0.8em;
    color: white;
    background-color: black;
    border: none;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 0.9em;
}

body {
    background-color: rgb(231, 231, 231);
}

#flex-login-regis {
    display: flex;
    align-items: center; /* Vertically center children */
    justify-content: space-between;
}

#flex-login-regis > a {
    text-align: center; /* Center text horizontally */
}