@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body > header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    margin: 0;
    padding: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

main {
    padding-top: 6em;
}



#header-list {
    margin: 0;
}

#utility-wrap {
    display: inline-block;
}
body {
    /*background-color: rgb(225, 225, 225);*/
    margin: 0;
    font-family: Roboto;
}

header>h1 {
    margin: 0;
    font-size: 1.5em;
    display: inline-block;
    margin-right: 2em;
}


a{
    text-decoration: none;
    color: black;
}

#login-register-anchor {
    display: none;
    position: fixed;
    right: 2em;
    top: 3.2em;
    padding: 1em;
    background-color: rgb(194, 226, 255);
    border-radius: 2em;
}

#header-list {
    display: inline-block;
}

ul {
    vertical-align: middle;
    width: 35em;
    display: flex;
    flex-direction: row;
    padding: 0;
}
li {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

li a {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}



#cart-button, #search-button, #profile-button {
    border: none;
    background: none;
    padding: 0;
    margin-right: 1em;
    padding: 0.6em;
    vertical-align: middle;
    align-items: center;
}

#cart-button:hover, #search-button:hover, #profile-button:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 10em;
}
    
#profile-button:hover + #login-register-anchor{
    display: inline-block;
}

#login-register-anchor.visible {
    display: inline-block;
}

#index-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
} 

#img-product {
    height: 40%;
    display: flex;
    justify-content: center;
}

#profile-button {
    margin-right: 0;
}

#img-product img {
    object-fit: contain; /* Maintain aspect ratio without stretching */
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
}

#recomended {
    align-items:center;
    text-align: center;
    margin-top: 6em;
}

#recomended h1 {
 display: block;
 margin: 0;
 font-size: 2.5em;
}

#index-product {
    display: inline-block;
    background-color: rgb(243, 243, 243);
    width: 15em;
    height: 35em;
    border-radius: 1.3em;
    margin: 1em 1em;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 1em;
}

#grid-on-cards {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.add-cart-button {
    color: white;
    background-color: black;
    border: none;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 0.9em;
}

#index-product > h2 {
    font-size: 1em;
    font-weight: 450;
    height: 4em;
}

#index-product > h1 {
    font-size: 1.3em;
}

#index-product p:nth-of-type(1){
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(49, 146, 226);
    margin: 0.2em;
    
}

#index-product p:nth-of-type(2){
    margin-bottom: 2em;
    margin-top: 0.2em;
}

#footer-page {
    background-color: rgb(120, 153, 180);
    padding: 1em;
    color: rgb(232, 244, 255);
}


/* CSS para o Login */

#login {
    display: grid; 
    grid-template-rows: 3em auto;
    font-family: Poppins;
    width: fit-content;
    margin: 7em auto;
    row-gap: 2em;
    margin-bottom: 14em;
}

#login h1 {
    font-weight: 600;
    font-size: 2em;
    margin: auto;
}

#register {
    display: grid; 
    grid-template-rows: 3em auto;
    font-family: Poppins;
    width: fit-content;
    margin: 7em auto;
    row-gap: 2em;
    margin-bottom: 14em;
}
#register h1 {
    font-weight: 600;
    margin: auto;
}
.form-log {
    display: block;
    background-color: white;
    padding: 2em;
    width: 18em;
}

form.add-to-cart-form {
    display: block;
    background-color: rgb(243, 243, 243);
    padding: 2em;
    width: auto;
}

form.add-to-cart-form button.add-cart-button {
    background-color: blue; 
    color: white; 
    border: none;
    padding: 0.5em 1em; 
    cursor: pointer; 

}

label {
    width: 100%;
    font-family: Poppins;
}
input {
    width: 100%;
    border: none;
    border-bottom: solid black 1px;
    margin-bottom: 2em;
    outline: none;
}

button{
    
    padding: 1em;
    font-family: Poppins;
    font-size: 0.8em;
    color: white;
    background-color: black;
    border: none;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 0.9em;
}

body {
    background-color: rgb(231, 231, 231);
}

#flex-login-regis {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#flex-login-regis > a {
    text-align: center; 
}


/* CSS para o carrinho */
#cart {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns with 2/3 and 1/3 of the width */
    grid-template-rows: auto;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-evenly;
    background-color: white;
    border-radius: 1em;
    margin: 1em;
    padding: 20px; /* Set padding for the items container */
    grid-column: 1; /* Place items in the first column */
    grid-row: 1; /* Place items in the first row */
  }

#pay-cart-button{
    width: 100%;
}

  #cart-form{
    width: auto;
    padding: 0;
    padding: 0;
    background-color: transparent;
  }

  .add-cart-button {
    color: white;
    background-color: black;
    border: none;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 0.9em;
}

  .body {
    margin: 0;
    padding: 0;
  }
  
.stretch-button{
    width: auto;
}

  .cart-total {
    background-color: rgb(212, 226, 230);
    padding: 20px; /* Set padding for the total container */
    border-radius: 1em;
    grid-column: 2; /* Place total in the second column */
    grid-row: 1; /* Place total in the first row */
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
  }
  
  .total-price {
    margin-left: auto; /* Push the total price to the right */
    margin: 1em;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  .cart-item:not(:last-child) {
    margin-bottom: 1em; /* Adjust margin as needed */
  }

.img-name-condition {
  display: flex;
  flex-direction: row;
}

.name-condition {
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.name-condition > p, .name-condition > h1{
    margin: 0;
}

.name-condition > h1 {
    font-size: 1.3em;
}

.img-product-cart {
    margin-right: 1em;
}

.cart-total > p {
  font-size: 2.7em;
  align-self: center;
  font-family: Poppins;
}



/* CSS para a seção de mensagens */
#messages {
    position: absolute;
    top: 2.5em; 
    right: 1em; 
    z-index: 1000; 
}

#messages article {
    margin-bottom: 0.5em; 
    padding: 0.5em 1em; 
    border-radius: 0.5em; 
}

.success {
    background-color: #4CAF50;
    color: white;
}

.error {
    background-color: #f44336;
    color: white;
}


#profile-menu ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

#profile-menu ul li a:hover {
    background-color: #f0f0f0;
}



/*---------post.css----------*/

#post {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
}

#user-aside {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    margin: 1em;
}

#post-price-button{
    display: flex;
    flex-direction: column;
}

#cart-button-post {
    width: 80%;
    align-self:center;
    padding: 0.2em;
    margin-top: 1em;
    font-size: 0.8em;
    background-color: blue; 
    color: white; 
    border: none;
    padding: 0.5em 1em; 
    cursor: pointer; 
}

#user-post {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: white;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    
}

#specs-post {
    background-color: white;
    border-radius: 1em;
}

#specs-post p {
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em;
}

#price-post {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

#price-post h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

#product-img-post {
    display: flex;
    justify-content: space-evenly; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 40em;

}

.img-button {
    background-color: rgb(187, 187, 187);
    
    border-radius: 50%;
}

#product-img-post img {
    height: 85%;
}

#description-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
    background-color: rgb(194, 226, 255);
    border-radius: 1em;
}

#product-title-post {
    font-size: 1.5rem; /* Set the font size of the h1 element */
}

#description-post-h2 {
    font-size: 2em;
}

#description-post p {
    font-size: 1.2em;
    font-weight: 500;
}

#brand-price-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#date-post {
    text-align: end;
}

#specs-post {
    padding: 1em;
}

#specs-post .spec-type {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

#specs-post .spec {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}


/*--------profilepage.css---------*/

#profilepage {
    margin-top: 8em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    margin: 1em;
}

#profile-img-infos {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    background-color: white;
    margin: 1em;
    padding: 1em;
    grid-column: 1 / 3;
    border-radius: 1em;
}

#profilepage-name-loc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    columns: 2 / 3;
}

#profile-page-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#profilepage-name-loc h1, #profilepage-name-loc h2 {
    margin: 0.3em;
    font-size: 1.5em;
}

#profilepage-name-loc h2 {
    font-size: 1.1em;
}

.profilepage-item {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    min-width: 16em;
    margin: 1em;
    margin-left: 0;
    padding: 1em;
    margin-top: 0;
    border-radius: 1em;
}

.profilepage-item h2 {
    font-size: 1.2em;
}

.profilepage-img-item {
    align-self:center ;
}

#left-profile-page {
    background-color: white;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}